# nvram
allow audioserver nvdata_file:dir rw_dir_perms;
allow audioserver nvdata_file:file create_file_perms;
allow audioserver ccci_device:chr_file rw_file_perms;
get_prop(audioserver, nvram_prop)

# fm radio
allow audioserver fm_device:chr_file rw_file_perms;

set_prop(audioserver, audiohal_prop)
allow audioserver sysfs:file r_file_perms;
allow audioserver nvdata_file:lnk_file read;
