# Allow access to the hardware node
allow hal_bluetooth_default stpbt_device:chr_file rw_file_perms;

# Allow nvram access through the /data/nvram link
allow hal_bluetooth_default nvdata_file:lnk_file read;
allow hal_bluetooth_default nvdata_file:dir search;
allow hal_bluetooth_default nvdata_file:file rw_file_perms;

# libnvram probes the raw nvram partition before reading BT_Addr from nvdata
dontaudit hal_bluetooth_default nvram_device:blk_file { open read write };

get_prop(hal_bluetooth_default, nvram_prop)
get_prop(hal_bluetooth_default, wmt_prop)
