allow init ccci_device:chr_file { write ioctl };
allow init devpts:chr_file ioctl;

# Allow init to format formattable partitions…partitions
allow init nvdata_device:blk_file write;
allow init protect1_device:blk_file write;
allow init protect2_device:blk_file write;

allow init debugfs:dir mounton;

# Keep AT_SECURE off so the linker honours LD_SHIM_LIBS for the shimmed blobs
allow init {
    agpsd
    audioserver
    bootanim
    cameraserver
    mediacodec
    mediaserver
    mnld
    mobile_log_d
    pq
    ril-daemon-mtk
    surfaceflinger
    zygote
}:process noatsecure;

allow init debugfs:file w_file_perms;
allow init tmpfs:lnk_file create_file_perms;
