# Wifi
allow netd wmtWifi_device:chr_file w_file_perms;

allow netd dhcp_data_file:dir setattr;
allow netd wifi_data_file:dir create_dir_perms;

type_transition netd wifi_data_file:dir wpa_socket "sockets";
allow netd wpa_socket:dir create_dir_perms;
